:root {
  --primary: #FFF9F9;
  --secondary: #FCD7D1;
  --tertiary: #8B4B54;
  --bg-card: #FFF9F9;
  

  --background: #FFF2F4;

  --font-title: "Italiana";
  --font-serif: "Inria serif";
  --font-sans-serif: "Inria sans-serif";

  --box-shadow: 0 0 15px rgba(122, 122, 122, 0.15);
 
}

html {
  height: 100%;
}



body {
  background: var(--background);
  background-image: url('/paper-texture.png');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
